<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.admin.mapper.TEnterprisePlotsMapper">
    
    <resultMap type="TEnterprisePlots" id="TEnterprisePlotsResult">
        <result property="id"    column="id"    />
        <result property="plotCode"    column="plot_code"    />
        <result property="plotName"    column="plot_name"    />
        <result property="companyName"    column="company_name"    />
        <result property="companyCreditCode"    column="company_credit_code"    />
        <result property="legalRepresentative"    column="legal_representative"    />
        <result property="address"    column="address"    />
        <result property="regionCode"    column="region_code"    />
        <result property="centerLongitude"    column="center_longitude"    />
        <result property="centerLatitude"    column="center_latitude"    />
        <result property="areaLandCert"    column="area_land_cert"    />
        <result property="areaActual"    column="area_actual"    />
        <result property="contactName"    column="contact_name"    />
        <result property="contactPhone"    column="contact_phone"    />
        <result property="industryCategory"    column="industry_category"    />
        <result property="industryCode"    column="industry_code"    />
        <result property="registrationType"    column="registration_type"    />
        <result property="enterpriseScale"    column="enterprise_scale"    />
        <result property="startDate"    column="start_date"    />
        <result property="latestExpansionDate"    column="latest_expansion_date"    />
        <result property="inIndustrialPark"    column="in_industrial_park"    />
        <result property="historyLandUse"    column="history_land_use"    />
        <result property="historyStartYear"    column="history_start_year"    />
        <result property="historyEndYear"    column="history_end_year"    />
        <result property="deptId"    column="dept_id"    />
    </resultMap>

    <sql id="selectTEnterprisePlotsVo">
        select id, plot_code, plot_name, company_name, company_credit_code, legal_representative, address, region_code, center_longitude, center_latitude, area_land_cert, area_actual, contact_name, contact_phone, industry_category, industry_code, registration_type, enterprise_scale, start_date, latest_expansion_date, in_industrial_park, history_land_use, history_start_year, history_end_year, dept_id from t_enterprise_plots
    </sql>

    <select id="selectTEnterprisePlotsList" parameterType="TEnterprisePlots" resultMap="TEnterprisePlotsResult">
        <include refid="selectTEnterprisePlotsVo"/>
        <where>  
            <if test="plotName != null  and plotName != ''"> and plot_name like concat('%', #{plotName}, '%')</if>
            <if test="companyName != null  and companyName != ''"> and company_name like concat('%', #{companyName}, '%')</if>
            <if test="companyCreditCode != null  and companyCreditCode != ''"> and company_credit_code like concat('%', #{companyCreditCode}, '%')</if>
            <if test="legalRepresentative != null  and legalRepresentative != ''"> and legal_representative = #{legalRepresentative}</if>
            <if test="address != null  and address != ''"> and address like concat('%', #{address}, '%')</if>
            <if test="regionCode != null  and regionCode != ''"> and region_code = #{regionCode}</if>
            <if test="centerLongitude != null  and centerLongitude != ''"> and center_longitude = #{centerLongitude}</if>
            <if test="centerLatitude != null  and centerLatitude != ''"> and center_latitude = #{centerLatitude}</if>
            <if test="areaLandCert != null  and areaLandCert != ''"> and area_land_cert = #{areaLandCert}</if>
            <if test="areaActual != null  and areaActual != ''"> and area_actual = #{areaActual}</if>
            <if test="contactName != null  and contactName != ''"> and contact_name like concat('%', #{contactName}, '%')</if>
            <if test="contactPhone != null  and contactPhone != ''"> and contact_phone like concat('%', #{contactPhone}, '%')</if>
            <if test="industryCategory != null  and industryCategory != ''"> and industry_category = #{industryCategory}</if>
            <if test="industryCode != null  and industryCode != ''"> and industry_code = #{industryCode}</if>
            <if test="registrationType != null  and registrationType != ''"> and registration_type = #{registrationType}</if>
            <if test="startDate != null "> and start_date = #{startDate}</if>
            <if test="latestExpansionDate != null "> and latest_expansion_date = #{latestExpansionDate}</if>
            <if test="inIndustrialPark != null  and inIndustrialPark != ''"> and in_industrial_park = #{inIndustrialPark}</if>
            <if test="historyLandUse != null  and historyLandUse != ''"> and history_land_use = #{historyLandUse}</if>
            <if test="historyStartYear != null "> and history_start_year = #{historyStartYear}</if>
            <if test="historyEndYear != null "> and history_end_year = #{historyEndYear}</if>
            <if test="deptId != null "> and dept_id = #{deptId}</if>
        </where>
    </select>
    
    <select id="selectTEnterprisePlotsById" parameterType="Long" resultMap="TEnterprisePlotsResult">
        <include refid="selectTEnterprisePlotsVo"/>
        where id = #{id}
    </select>

    <insert id="insertTEnterprisePlots" parameterType="TEnterprisePlots">
        insert into t_enterprise_plots
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="plotCode != null">plot_code,</if>
            <if test="plotName != null and plotName != ''">plot_name,</if>
            <if test="companyName != null and companyName != ''">company_name,</if>
            <if test="companyCreditCode != null and companyCreditCode != ''">company_credit_code,</if>
            <if test="legalRepresentative != null and legalRepresentative != ''">legal_representative,</if>
            <if test="address != null and address != ''">address,</if>
            <if test="regionCode != null and regionCode != ''">region_code,</if>
            <if test="centerLongitude != null and centerLongitude != ''">center_longitude,</if>
            <if test="centerLatitude != null and centerLatitude != ''">center_latitude,</if>
            <if test="areaLandCert != null and areaLandCert != ''">area_land_cert,</if>
            <if test="areaActual != null and areaActual != ''">area_actual,</if>
            <if test="contactName != null and contactName != ''">contact_name,</if>
            <if test="contactPhone != null and contactPhone != ''">contact_phone,</if>
            <if test="industryCategory != null and industryCategory != ''">industry_category,</if>
            <if test="industryCode != null and industryCode != ''">industry_code,</if>
            <if test="registrationType != null">registration_type,</if>
            <if test="enterpriseScale != null">enterprise_scale,</if>
            <if test="startDate != null">start_date,</if>
            <if test="latestExpansionDate != null">latest_expansion_date,</if>
            <if test="inIndustrialPark != null">in_industrial_park,</if>
            <if test="historyLandUse != null">history_land_use,</if>
            <if test="historyStartYear != null">history_start_year,</if>
            <if test="historyEndYear != null">history_end_year,</if>
            <if test="deptId != null">dept_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="plotCode != null">#{plotCode},</if>
            <if test="plotName != null and plotName != ''">#{plotName},</if>
            <if test="companyName != null and companyName != ''">#{companyName},</if>
            <if test="companyCreditCode != null and companyCreditCode != ''">#{companyCreditCode},</if>
            <if test="legalRepresentative != null and legalRepresentative != ''">#{legalRepresentative},</if>
            <if test="address != null and address != ''">#{address},</if>
            <if test="regionCode != null and regionCode != ''">#{regionCode},</if>
            <if test="centerLongitude != null and centerLongitude != ''">#{centerLongitude},</if>
            <if test="centerLatitude != null and centerLatitude != ''">#{centerLatitude},</if>
            <if test="areaLandCert != null and areaLandCert != ''">#{areaLandCert},</if>
            <if test="areaActual != null and areaActual != ''">#{areaActual},</if>
            <if test="contactName != null and contactName != ''">#{contactName},</if>
            <if test="contactPhone != null and contactPhone != ''">#{contactPhone},</if>
            <if test="industryCategory != null and industryCategory != ''">#{industryCategory},</if>
            <if test="industryCode != null and industryCode != ''">#{industryCode},</if>
            <if test="registrationType != null">#{registrationType},</if>
            <if test="enterpriseScale != null">#{enterpriseScale},</if>
            <if test="startDate != null">#{startDate},</if>
            <if test="latestExpansionDate != null">#{latestExpansionDate},</if>
            <if test="inIndustrialPark != null">#{inIndustrialPark},</if>
            <if test="historyLandUse != null">#{historyLandUse},</if>
            <if test="historyStartYear != null">#{historyStartYear},</if>
            <if test="historyEndYear != null">#{historyEndYear},</if>
            <if test="deptId != null">#{deptId},</if>
         </trim>
    </insert>

    <update id="updateTEnterprisePlots" parameterType="TEnterprisePlots">
        update t_enterprise_plots
        <trim prefix="SET" suffixOverrides=",">
            <if test="plotCode != null">plot_code = #{plotCode},</if>
            <if test="plotName != null and plotName != ''">plot_name = #{plotName},</if>
            <if test="companyName != null and companyName != ''">company_name = #{companyName},</if>
            <if test="companyCreditCode != null and companyCreditCode != ''">company_credit_code = #{companyCreditCode},</if>
            <if test="legalRepresentative != null and legalRepresentative != ''">legal_representative = #{legalRepresentative},</if>
            <if test="address != null and address != ''">address = #{address},</if>
            <if test="regionCode != null and regionCode != ''">region_code = #{regionCode},</if>
            <if test="centerLongitude != null and centerLongitude != ''">center_longitude = #{centerLongitude},</if>
            <if test="centerLatitude != null and centerLatitude != ''">center_latitude = #{centerLatitude},</if>
            <if test="areaLandCert != null and areaLandCert != ''">area_land_cert = #{areaLandCert},</if>
            <if test="areaActual != null and areaActual != ''">area_actual = #{areaActual},</if>
            <if test="contactName != null and contactName != ''">contact_name = #{contactName},</if>
            <if test="contactPhone != null and contactPhone != ''">contact_phone = #{contactPhone},</if>
            <if test="industryCategory != null and industryCategory != ''">industry_category = #{industryCategory},</if>
            <if test="industryCode != null and industryCode != ''">industry_code = #{industryCode},</if>
            <if test="registrationType != null">registration_type = #{registrationType},</if>
            <if test="enterpriseScale != null">enterprise_scale = #{enterpriseScale},</if>
            <if test="startDate != null">start_date = #{startDate},</if>
            <if test="latestExpansionDate != null">latest_expansion_date = #{latestExpansionDate},</if>
            <if test="inIndustrialPark != null">in_industrial_park = #{inIndustrialPark},</if>
            <if test="historyLandUse != null">history_land_use = #{historyLandUse},</if>
            <if test="historyStartYear != null">history_start_year = #{historyStartYear},</if>
            <if test="historyEndYear != null">history_end_year = #{historyEndYear},</if>
            <if test="deptId != null">dept_id = #{deptId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTEnterprisePlotsById" parameterType="Long">
        delete from t_enterprise_plots where id = #{id}
    </delete>

    <delete id="deleteTEnterprisePlotsByIds" parameterType="String">
        delete from t_enterprise_plots where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>