<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.admin.mapper.TEnterprisePollutionInfoMapper">
    
    <resultMap type="TEnterprisePollutionInfo" id="TEnterprisePollutionInfoResult">
        <result property="id"    column="id"    />
        <result property="productName"    column="product_name"    />
        <result property="productionYearRange"    column="production_year_range"    />
        <result property="productUnit"    column="product_unit"    />
        <result property="productAvgOutput"    column="product_avg_output"    />
        <result property="materialName"    column="material_name"    />
        <result property="materialUseYearRange"    column="material_use_year_range"    />
        <result property="materialUnit"    column="material_unit"    />
        <result property="materialAvgUsage"    column="material_avg_usage"    />
        <result property="processLineName"    column="process_line_name"    />
        <result property="longitude"    column="longitude"    />
        <result property="latitude"    column="latitude"    />
        <result property="startupDate"    column="startup_date"    />
        <result property="processDescription"    column="process_description"    />
        <result property="leakStatus"    column="leak_status"    />
        <result property="workshopArea"    column="workshop_area"    />
        <result property="storageAreaName"    column="storage_area_name"    />
        <result property="storageLongitude"    column="storage_longitude"    />
        <result property="storageLatitude"    column="storage_latitude"    />
        <result property="tankCount"    column="tank_count"    />
        <result property="storedMaterial"    column="stored_material"    />
        <result property="isHazardous"    column="is_hazardous"    />
        <result property="storageAmount"    column="storage_amount"    />
        <result property="storageUnit"    column="storage_unit"    />
        <result property="storageStartDate"    column="storage_start_date"    />
        <result property="storageLeakStatus"    column="storage_leak_status"    />
        <result property="storageRemark"    column="storage_remark"    />
        <result property="storageArea"    column="storage_area"    />
        <result property="gasTreatmentExists"    column="gas_treatment_exists"    />
        <result property="totalGasEmission"    column="total_gas_emission"    />
        <result property="gasEmissionUnit"    column="gas_emission_unit"    />
        <result property="deptId"    column="dept_id"    />
    </resultMap>

    <sql id="selectTEnterprisePollutionInfoVo">
        select id, product_name, production_year_range, product_unit, product_avg_output, material_name, material_use_year_range, material_unit, material_avg_usage, process_line_name, longitude, latitude, startup_date, process_description, leak_status, workshop_area, storage_area_name, storage_longitude, storage_latitude, tank_count, stored_material, is_hazardous, storage_amount, storage_unit, storage_start_date, storage_leak_status, storage_remark, storage_area, gas_treatment_exists, total_gas_emission, gas_emission_unit, dept_id from t_enterprise_pollution_info
    </sql>

    <select id="selectTEnterprisePollutionInfoList" parameterType="TEnterprisePollutionInfo" resultMap="TEnterprisePollutionInfoResult">
        <include refid="selectTEnterprisePollutionInfoVo"/>
        <where>  
            <if test="productName != null  and productName != ''"> and product_name like concat('%', #{productName}, '%')</if>
            <if test="productionYearRange != null  and productionYearRange != ''"> and production_year_range = #{productionYearRange}</if>
            <if test="productUnit != null  and productUnit != ''"> and product_unit = #{productUnit}</if>
            <if test="productAvgOutput != null  and productAvgOutput != ''"> and product_avg_output = #{productAvgOutput}</if>
            <if test="materialName != null  and materialName != ''"> and material_name like concat('%', #{materialName}, '%')</if>
            <if test="materialUseYearRange != null  and materialUseYearRange != ''"> and material_use_year_range = #{materialUseYearRange}</if>
            <if test="materialUnit != null  and materialUnit != ''"> and material_unit = #{materialUnit}</if>
            <if test="materialAvgUsage != null  and materialAvgUsage != ''"> and material_avg_usage = #{materialAvgUsage}</if>
            <if test="processLineName != null  and processLineName != ''"> and process_line_name like concat('%', #{processLineName}, '%')</if>
            <if test="longitude != null  and longitude != ''"> and longitude = #{longitude}</if>
            <if test="latitude != null  and latitude != ''"> and latitude = #{latitude}</if>
            <if test="startupDate != null "> and startup_date = #{startupDate}</if>
            <if test="processDescription != null  and processDescription != ''"> and process_description = #{processDescription}</if>
            <if test="leakStatus != null  and leakStatus != ''"> and leak_status = #{leakStatus}</if>
            <if test="workshopArea != null  and workshopArea != ''"> and workshop_area = #{workshopArea}</if>
            <if test="storageAreaName != null  and storageAreaName != ''"> and storage_area_name like concat('%', #{storageAreaName}, '%')</if>
            <if test="storageLongitude != null  and storageLongitude != ''"> and storage_longitude = #{storageLongitude}</if>
            <if test="storageLatitude != null  and storageLatitude != ''"> and storage_latitude = #{storageLatitude}</if>
            <if test="tankCount != null "> and tank_count = #{tankCount}</if>
            <if test="storedMaterial != null  and storedMaterial != ''"> and stored_material = #{storedMaterial}</if>
            <if test="isHazardous != null  and isHazardous != ''"> and is_hazardous = #{isHazardous}</if>
            <if test="storageAmount != null  and storageAmount != ''"> and storage_amount = #{storageAmount}</if>
            <if test="storageUnit != null  and storageUnit != ''"> and storage_unit = #{storageUnit}</if>
            <if test="storageStartDate != null "> and storage_start_date = #{storageStartDate}</if>
            <if test="storageLeakStatus != null  and storageLeakStatus != ''"> and storage_leak_status = #{storageLeakStatus}</if>
            <if test="storageRemark != null  and storageRemark != ''"> and storage_remark = #{storageRemark}</if>
            <if test="storageArea != null  and storageArea != ''"> and storage_area = #{storageArea}</if>
            <if test="gasTreatmentExists != null  and gasTreatmentExists != ''"> and gas_treatment_exists = #{gasTreatmentExists}</if>
            <if test="totalGasEmission != null  and totalGasEmission != ''"> and total_gas_emission = #{totalGasEmission}</if>
            <if test="gasEmissionUnit != null  and gasEmissionUnit != ''"> and gas_emission_unit = #{gasEmissionUnit}</if>
            <if test="deptId != null "> and dept_id = #{deptId}</if>
        </where>
    </select>
    
    <select id="selectTEnterprisePollutionInfoById" parameterType="Long" resultMap="TEnterprisePollutionInfoResult">
        <include refid="selectTEnterprisePollutionInfoVo"/>
        where id = #{id}
    </select>

    <insert id="insertTEnterprisePollutionInfo" parameterType="TEnterprisePollutionInfo" useGeneratedKeys="true" keyProperty="id">
        insert into t_enterprise_pollution_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="productName != null">product_name,</if>
            <if test="productionYearRange != null">production_year_range,</if>
            <if test="productUnit != null">product_unit,</if>
            <if test="productAvgOutput != null">product_avg_output,</if>
            <if test="materialName != null">material_name,</if>
            <if test="materialUseYearRange != null">material_use_year_range,</if>
            <if test="materialUnit != null">material_unit,</if>
            <if test="materialAvgUsage != null">material_avg_usage,</if>
            <if test="processLineName != null">process_line_name,</if>
            <if test="longitude != null">longitude,</if>
            <if test="latitude != null">latitude,</if>
            <if test="startupDate != null">startup_date,</if>
            <if test="processDescription != null">process_description,</if>
            <if test="leakStatus != null">leak_status,</if>
            <if test="workshopArea != null">workshop_area,</if>
            <if test="storageAreaName != null">storage_area_name,</if>
            <if test="storageLongitude != null">storage_longitude,</if>
            <if test="storageLatitude != null">storage_latitude,</if>
            <if test="tankCount != null">tank_count,</if>
            <if test="storedMaterial != null">stored_material,</if>
            <if test="isHazardous != null">is_hazardous,</if>
            <if test="storageAmount != null">storage_amount,</if>
            <if test="storageUnit != null">storage_unit,</if>
            <if test="storageStartDate != null">storage_start_date,</if>
            <if test="storageLeakStatus != null">storage_leak_status,</if>
            <if test="storageRemark != null">storage_remark,</if>
            <if test="storageArea != null">storage_area,</if>
            <if test="gasTreatmentExists != null">gas_treatment_exists,</if>
            <if test="totalGasEmission != null">total_gas_emission,</if>
            <if test="gasEmissionUnit != null">gas_emission_unit,</if>
            <if test="deptId != null">dept_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="productName != null">#{productName},</if>
            <if test="productionYearRange != null">#{productionYearRange},</if>
            <if test="productUnit != null">#{productUnit},</if>
            <if test="productAvgOutput != null">#{productAvgOutput},</if>
            <if test="materialName != null">#{materialName},</if>
            <if test="materialUseYearRange != null">#{materialUseYearRange},</if>
            <if test="materialUnit != null">#{materialUnit},</if>
            <if test="materialAvgUsage != null">#{materialAvgUsage},</if>
            <if test="processLineName != null">#{processLineName},</if>
            <if test="longitude != null">#{longitude},</if>
            <if test="latitude != null">#{latitude},</if>
            <if test="startupDate != null">#{startupDate},</if>
            <if test="processDescription != null">#{processDescription},</if>
            <if test="leakStatus != null">#{leakStatus},</if>
            <if test="workshopArea != null">#{workshopArea},</if>
            <if test="storageAreaName != null">#{storageAreaName},</if>
            <if test="storageLongitude != null">#{storageLongitude},</if>
            <if test="storageLatitude != null">#{storageLatitude},</if>
            <if test="tankCount != null">#{tankCount},</if>
            <if test="storedMaterial != null">#{storedMaterial},</if>
            <if test="isHazardous != null">#{isHazardous},</if>
            <if test="storageAmount != null">#{storageAmount},</if>
            <if test="storageUnit != null">#{storageUnit},</if>
            <if test="storageStartDate != null">#{storageStartDate},</if>
            <if test="storageLeakStatus != null">#{storageLeakStatus},</if>
            <if test="storageRemark != null">#{storageRemark},</if>
            <if test="storageArea != null">#{storageArea},</if>
            <if test="gasTreatmentExists != null">#{gasTreatmentExists},</if>
            <if test="totalGasEmission != null">#{totalGasEmission},</if>
            <if test="gasEmissionUnit != null">#{gasEmissionUnit},</if>
            <if test="deptId != null">#{deptId},</if>
         </trim>
    </insert>

    <update id="updateTEnterprisePollutionInfo" parameterType="TEnterprisePollutionInfo">
        update t_enterprise_pollution_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="productName != null">product_name = #{productName},</if>
            <if test="productionYearRange != null">production_year_range = #{productionYearRange},</if>
            <if test="productUnit != null">product_unit = #{productUnit},</if>
            <if test="productAvgOutput != null">product_avg_output = #{productAvgOutput},</if>
            <if test="materialName != null">material_name = #{materialName},</if>
            <if test="materialUseYearRange != null">material_use_year_range = #{materialUseYearRange},</if>
            <if test="materialUnit != null">material_unit = #{materialUnit},</if>
            <if test="materialAvgUsage != null">material_avg_usage = #{materialAvgUsage},</if>
            <if test="processLineName != null">process_line_name = #{processLineName},</if>
            <if test="longitude != null">longitude = #{longitude},</if>
            <if test="latitude != null">latitude = #{latitude},</if>
            <if test="startupDate != null">startup_date = #{startupDate},</if>
            <if test="processDescription != null">process_description = #{processDescription},</if>
            <if test="leakStatus != null">leak_status = #{leakStatus},</if>
            <if test="workshopArea != null">workshop_area = #{workshopArea},</if>
            <if test="storageAreaName != null">storage_area_name = #{storageAreaName},</if>
            <if test="storageLongitude != null">storage_longitude = #{storageLongitude},</if>
            <if test="storageLatitude != null">storage_latitude = #{storageLatitude},</if>
            <if test="tankCount != null">tank_count = #{tankCount},</if>
            <if test="storedMaterial != null">stored_material = #{storedMaterial},</if>
            <if test="isHazardous != null">is_hazardous = #{isHazardous},</if>
            <if test="storageAmount != null">storage_amount = #{storageAmount},</if>
            <if test="storageUnit != null">storage_unit = #{storageUnit},</if>
            <if test="storageStartDate != null">storage_start_date = #{storageStartDate},</if>
            <if test="storageLeakStatus != null">storage_leak_status = #{storageLeakStatus},</if>
            <if test="storageRemark != null">storage_remark = #{storageRemark},</if>
            <if test="storageArea != null">storage_area = #{storageArea},</if>
            <if test="gasTreatmentExists != null">gas_treatment_exists = #{gasTreatmentExists},</if>
            <if test="totalGasEmission != null">total_gas_emission = #{totalGasEmission},</if>
            <if test="gasEmissionUnit != null">gas_emission_unit = #{gasEmissionUnit},</if>
            <if test="deptId != null">dept_id = #{deptId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTEnterprisePollutionInfoById" parameterType="Long">
        delete from t_enterprise_pollution_info where id = #{id}
    </delete>

    <delete id="deleteTEnterprisePollutionInfoByIds" parameterType="String">
        delete from t_enterprise_pollution_info where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>