<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.admin.mapper.TStorageAreaMapper">
    
    <resultMap type="TStorageArea" id="TStorageAreaResult">
        <result property="id"    column="id"    />
        <result property="areaName"    column="area_name"    />
        <result property="areaType"    column="area_type"    />
        <result property="leftPosition"    column="left_position"    />
        <result property="tankCount"    column="tank_count"    />
        <result property="tankType"    column="tank_type"    />
        <result property="storedSubstanceName"    column="stored_substance_name"    />
        <result property="isHazardousChemical"    column="is_hazardous_chemical"    />
        <result property="storageAmount"    column="storage_amount"    />
        <result property="unit"    column="unit"    />
        <result property="storageYear"    column="storage_year"    />
        <result property="leakageOrPollutionTraces"    column="leakage_or_pollution_traces"    />
        <result property="photos"    column="photos"    />
        <result property="enterprisePollutionInfoId"    column="enterprise_pollution_info_id"    />
        <result property="deptId"    column="dept_id"    />
    </resultMap>

    <sql id="selectTStorageAreaVo">
        select id, area_name, area_type, left_position, tank_count, tank_type, stored_substance_name, is_hazardous_chemical, storage_amount, unit, storage_year, leakage_or_pollution_traces, photos, enterprise_pollution_info_id, dept_id from t_storage_area
    </sql>

    <select id="selectTStorageAreaList" parameterType="TStorageArea" resultMap="TStorageAreaResult">
        <include refid="selectTStorageAreaVo"/>
        <where>  
            <if test="areaName != null  and areaName != ''"> and area_name like concat('%', #{areaName}, '%')</if>
            <if test="areaType != null  and areaType != ''"> and area_type = #{areaType}</if>
            <if test="leftPosition != null  and leftPosition != ''"> and left_position = #{leftPosition}</if>
            <if test="tankCount != null "> and tank_count = #{tankCount}</if>
            <if test="tankType != null  and tankType != ''"> and tank_type = #{tankType}</if>
            <if test="storedSubstanceName != null  and storedSubstanceName != ''"> and stored_substance_name like concat('%', #{storedSubstanceName}, '%')</if>
            <if test="isHazardousChemical != null  and isHazardousChemical != ''"> and is_hazardous_chemical = #{isHazardousChemical}</if>
            <if test="storageAmount != null  and storageAmount != ''"> and storage_amount = #{storageAmount}</if>
            <if test="unit != null  and unit != ''"> and unit = #{unit}</if>
            <if test="storageYear != null  and storageYear != ''"> and storage_year = #{storageYear}</if>
            <if test="leakageOrPollutionTraces != null  and leakageOrPollutionTraces != ''"> and leakage_or_pollution_traces = #{leakageOrPollutionTraces}</if>
            <if test="photos != null  and photos != ''"> and photos = #{photos}</if>
            <if test="enterprisePollutionInfoId != null  and enterprisePollutionInfoId != ''"> and enterprise_pollution_info_id = #{enterprisePollutionInfoId}</if>
            <if test="deptId != null  and deptId != ''"> and dept_id = #{deptId}</if>
        </where>
    </select>
    
    <select id="selectTStorageAreaById" parameterType="Long" resultMap="TStorageAreaResult">
        <include refid="selectTStorageAreaVo"/>
        where id = #{id}
    </select>

    <insert id="insertTStorageArea" parameterType="TStorageArea" useGeneratedKeys="true" keyProperty="id">
        insert into t_storage_area
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="areaName != null">area_name,</if>
            <if test="areaType != null">area_type,</if>
            <if test="leftPosition != null">left_position,</if>
            <if test="tankCount != null">tank_count,</if>
            <if test="tankType != null">tank_type,</if>
            <if test="storedSubstanceName != null">stored_substance_name,</if>
            <if test="isHazardousChemical != null">is_hazardous_chemical,</if>
            <if test="storageAmount != null">storage_amount,</if>
            <if test="unit != null">unit,</if>
            <if test="storageYear != null">storage_year,</if>
            <if test="leakageOrPollutionTraces != null">leakage_or_pollution_traces,</if>
            <if test="photos != null">photos,</if>
            <if test="enterprisePollutionInfoId != null">enterprise_pollution_info_id,</if>
            <if test="deptId != null">dept_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="areaName != null">#{areaName},</if>
            <if test="areaType != null">#{areaType},</if>
            <if test="leftPosition != null">#{leftPosition},</if>
            <if test="tankCount != null">#{tankCount},</if>
            <if test="tankType != null">#{tankType},</if>
            <if test="storedSubstanceName != null">#{storedSubstanceName},</if>
            <if test="isHazardousChemical != null">#{isHazardousChemical},</if>
            <if test="storageAmount != null">#{storageAmount},</if>
            <if test="unit != null">#{unit},</if>
            <if test="storageYear != null">#{storageYear},</if>
            <if test="leakageOrPollutionTraces != null">#{leakageOrPollutionTraces},</if>
            <if test="photos != null">#{photos},</if>
            <if test="enterprisePollutionInfoId != null">#{enterprisePollutionInfoId},</if>
            <if test="deptId != null">#{deptId},</if>
         </trim>
    </insert>

    <update id="updateTStorageArea" parameterType="TStorageArea">
        update t_storage_area
        <trim prefix="SET" suffixOverrides=",">
            <if test="areaName != null">area_name = #{areaName},</if>
            <if test="areaType != null">area_type = #{areaType},</if>
            <if test="leftPosition != null">left_position = #{leftPosition},</if>
            <if test="tankCount != null">tank_count = #{tankCount},</if>
            <if test="tankType != null">tank_type = #{tankType},</if>
            <if test="storedSubstanceName != null">stored_substance_name = #{storedSubstanceName},</if>
            <if test="isHazardousChemical != null">is_hazardous_chemical = #{isHazardousChemical},</if>
            <if test="storageAmount != null">storage_amount = #{storageAmount},</if>
            <if test="unit != null">unit = #{unit},</if>
            <if test="storageYear != null">storage_year = #{storageYear},</if>
            <if test="leakageOrPollutionTraces != null">leakage_or_pollution_traces = #{leakageOrPollutionTraces},</if>
            <if test="photos != null">photos = #{photos},</if>
            <if test="enterprisePollutionInfoId != null">enterprise_pollution_info_id = #{enterprisePollutionInfoId},</if>
            <if test="deptId != null">dept_id = #{deptId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTStorageAreaById" parameterType="Long">
        delete from t_storage_area where id = #{id}
    </delete>

    <delete id="deleteTStorageAreaByIds" parameterType="String">
        delete from t_storage_area where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>