<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.admin.mapper.TSurveyGroundwaterPollutionMapper">
    
    <resultMap type="TSurveyGroundwaterPollution" id="TSurveyGroundwaterPollutionResult">
        <result property="id"    column="id"    />
        <result property="surveyAssessmentId"    column="survey_assessment_id"    />
        <result property="pollutantName"    column="pollutant_name"    />
        <result property="maxConcentration"    column="max_concentration"    />
        <result property="deptId"    column="dept_id"    />
    </resultMap>

    <sql id="selectTSurveyGroundwaterPollutionVo">
        select id, survey_assessment_id, pollutant_name, max_concentration,dept_id from t_survey_groundwater_pollution
    </sql>

    <select id="selectTSurveyGroundwaterPollutionList" parameterType="TSurveyGroundwaterPollution" resultMap="TSurveyGroundwaterPollutionResult">
        <include refid="selectTSurveyGroundwaterPollutionVo"/>
        <where>  
            <if test="surveyAssessmentId != null  and surveyAssessmentId != ''"> and survey_assessment_id = #{surveyAssessmentId}</if>
            <if test="pollutantName != null  and pollutantName != ''"> and pollutant_name like concat('%', #{pollutantName}, '%')</if>
            <if test="maxConcentration != null  and maxConcentration != ''"> and max_concentration = #{maxConcentration}</if>
            <if test="deptId != null  and deptId != ''"> and dept_id = #{deptId}</if>
        </where>
    </select>
    
    <select id="selectTSurveyGroundwaterPollutionById" parameterType="Long" resultMap="TSurveyGroundwaterPollutionResult">
        <include refid="selectTSurveyGroundwaterPollutionVo"/>
        where id = #{id}
    </select>

    <insert id="insertTSurveyGroundwaterPollution" parameterType="TSurveyGroundwaterPollution" useGeneratedKeys="true" keyProperty="id">
        insert into t_survey_groundwater_pollution
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="surveyAssessmentId != null">survey_assessment_id,</if>
            <if test="pollutantName != null">pollutant_name,</if>
            <if test="maxConcentration != null">max_concentration,</if>
            <if test="deptId != null">dept_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="surveyAssessmentId != null">#{surveyAssessmentId},</if>
            <if test="pollutantName != null">#{pollutantName},</if>
            <if test="maxConcentration != null">#{maxConcentration},</if>
            <if test="deptId != null">#{deptId},</if>
         </trim>
    </insert>

    <update id="updateTSurveyGroundwaterPollution" parameterType="TSurveyGroundwaterPollution">
        update t_survey_groundwater_pollution
        <trim prefix="SET" suffixOverrides=",">
            <if test="surveyAssessmentId != null">survey_assessment_id = #{surveyAssessmentId},</if>
            <if test="pollutantName != null">pollutant_name = #{pollutantName},</if>
            <if test="maxConcentration != null">max_concentration = #{maxConcentration},</if>
            <if test="deptId != null">dept_id = #{deptId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTSurveyGroundwaterPollutionById" parameterType="Long">
        delete from t_survey_groundwater_pollution where id = #{id}
    </delete>

    <delete id="deleteTSurveyGroundwaterPollutionByIds" parameterType="String">
        delete from t_survey_groundwater_pollution where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>