<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.admin.mapper.TSurveyAssessmentMapper">
    
    <resultMap type="TSurveyAssessment" id="TSurveyAssessmentResult">
        <result property="id"    column="id"    />
        <result property="assessment"    column="assessment"    />
        <result property="assessmentTime"    column="assessment_time"    />
        <result property="hasSoilPollution"    column="has_soil_pollution"    />
        <result property="hasGroundwaterPollution"    column="has_groundwater_pollution"    />
    </resultMap>

    <sql id="selectTSurveyAssessmentVo">
        select id, assessment, assessment_time, has_soil_pollution, has_groundwater_pollution from t_survey_assessment
    </sql>

    <select id="selectTSurveyAssessmentList" parameterType="TSurveyAssessment" resultMap="TSurveyAssessmentResult">
        <include refid="selectTSurveyAssessmentVo"/>
        <where>  
            <if test="assessment != null  and assessment != ''"> and assessment = #{assessment}</if>
            <if test="assessmentTime != null  and assessmentTime != ''"> and assessment_time = #{assessmentTime}</if>
            <if test="hasSoilPollution != null  and hasSoilPollution != ''"> and has_soil_pollution = #{hasSoilPollution}</if>
            <if test="hasGroundwaterPollution != null  and hasGroundwaterPollution != ''"> and has_groundwater_pollution = #{hasGroundwaterPollution}</if>
        </where>
    </select>
    
    <select id="selectTSurveyAssessmentById" parameterType="Long" resultMap="TSurveyAssessmentResult">
        <include refid="selectTSurveyAssessmentVo"/>
        where id = #{id}
    </select>

    <insert id="insertTSurveyAssessment" parameterType="TSurveyAssessment" useGeneratedKeys="true" keyProperty="id">
        insert into t_survey_assessment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="assessment != null">assessment,</if>
            <if test="assessmentTime != null">assessment_time,</if>
            <if test="hasSoilPollution != null">has_soil_pollution,</if>
            <if test="hasGroundwaterPollution != null">has_groundwater_pollution,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="assessment != null">#{assessment},</if>
            <if test="assessmentTime != null">#{assessmentTime},</if>
            <if test="hasSoilPollution != null">#{hasSoilPollution},</if>
            <if test="hasGroundwaterPollution != null">#{hasGroundwaterPollution},</if>
         </trim>
    </insert>

    <update id="updateTSurveyAssessment" parameterType="TSurveyAssessment">
        update t_survey_assessment
        <trim prefix="SET" suffixOverrides=",">
            <if test="assessment != null">assessment = #{assessment},</if>
            <if test="assessmentTime != null">assessment_time = #{assessmentTime},</if>
            <if test="hasSoilPollution != null">has_soil_pollution = #{hasSoilPollution},</if>
            <if test="hasGroundwaterPollution != null">has_groundwater_pollution = #{hasGroundwaterPollution},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTSurveyAssessmentById" parameterType="Long">
        delete from t_survey_assessment where id = #{id}
    </delete>

    <delete id="deleteTSurveyAssessmentByIds" parameterType="String">
        delete from t_survey_assessment where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>